<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="google.GoogleFactory">
      <methods>
      	<exclude name="Google"></exclude>
      	<exclude name="Google1"></exclude>
      	<include name="Google2"></include>
      	<exclude name="Google3"></exclude>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
